@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p, ol, ul, dl {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  widows: 100%;
  height: 100vh;
  background-image: url("./images/header-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .header {
    padding: 60px 50px;
  }
}
.header__title {
  position: relative;
  z-index: 1;
  font-size: 50px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .header__title {
    font-size: 35px;
  }
}
.header__list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  list-style-type: circle;
  font-size: 22px;
  gap: 15px;
}
.header__btn {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 15px;
}
@media (max-width: 600px) {
  .header__btn {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .header__btn {
    flex-direction: column;
  }
}
.header__btn button {
  width: 270px;
  height: 55px;
  font-size: 18px;
  font-weight: 100;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgb(8, 234, 35);
}
@media (max-width: 600px) {
  .header__btn button {
    width: 200px;
    height: 45px;
    font-size: 16px;
  }
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Здесь можно изменить уровень затемнения, уменьшив или увеличив значение alpha (0.5 - средний уровень) */
}

.catalog {
  padding: 0 150px 60px;
  position: relative;
}
@media (max-width: 600px) {
  .catalog {
    padding: 50px;
  }
}
.catalog .line {
  width: 75%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.catalog__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 27px;
  font-weight: 200;
}
.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.catalog__list .block {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog__list .block__child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog__list .block__img {
  width: inherit;
  height: 300px;
}
.catalog__list .block__btn {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__list .block__btn button {
  width: 200px;
  height: 40px;
  background-color: aquamarine;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid gray;
}

.process {
  padding: 60px 150px;
  position: relative;
}
@media (max-width: 600px) {
  .process {
    padding: 20px;
  }
}
.process .line {
  width: 75%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.process__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 22px;
  font-weight: 200;
}
@media (max-width: 600px) {
  .process__title {
    padding: 0;
  }
}
.process__block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.process__block li {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.process__block li b {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.process__block li p {
  font-style: italic;
}

.advantage {
  padding: 60px 150px 60px;
  position: relative;
}
@media (max-width: 600px) {
  .advantage {
    padding: 10px 50px;
  }
}
.advantage .line {
  width: 75%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.advantage__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 27px;
  font-weight: 200;
}
.advantage__child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.advantage__child img {
  width: 90px;
  height: 90px;
}
.advantage__block {
  display: flex;
  gap: 60px;
}
@media (max-width: 600px) {
  .advantage__block {
    flex-direction: column;
  }
}

.images {
  padding: 0 150px 100px;
  position: relative;
}
@media (max-width: 600px) {
  .images {
    padding: 50px 0;
  }
}
.images .line {
  width: 75%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.images__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 27px;
  font-weight: 200;
}
@media (max-width: 600px) {
  .images__title {
    font-size: 24px;
  }
}
.images .carousel {
  position: relative;
}
.images .carousel .carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.images .carousel .carousel-inner img {
  width: 70%;
  height: 500px;
  border: 1px solid black;
}
@media (max-width: 600px) {
  .images .carousel .carousel-inner {
    height: 250px;
  }
}
.images .carousel .nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}
.images .carousel .nav-btn img {
  width: 35px;
  height: 35px;
}
@media (max-width: 600px) {
  .images .carousel .nav-btn {
    width: 20px;
    height: 20px;
  }
}
.images .carousel #prevBtn {
  left: 40px;
}
@media (max-width: 600px) {
  .images .carousel #prevBtn {
    left: 20px;
  }
}
.images .carousel #nextBtn {
  right: 40px;
}
@media (max-width: 600px) {
  .images .carousel #nextBtn {
    right: 20px;
  }
}

.questions {
  padding: 0 150px 60px;
  position: relative;
}
@media (max-width: 600px) {
  .questions {
    padding: 0 10px;
  }
}
.questions__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 27px;
  font-weight: 200;
}
.questions__block .question {
  border-top: 1px solid gray;
  padding: 20px 0;
}
.questions__block .question__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__block .question__title .plus {
  width: 40px;
  height: 40px;
}
.questions__block .question__title .plus:hover {
  background-color: aqua;
  border-radius: 50%;
}
.questions__block .question__title .minus {
  width: 20px;
  height: 20px;
  display: none;
}
.questions__block .question__title .minus:hover {
  background-color: aqua;
  border-radius: 50%;
}
.questions__block .question .active {
  display: none;
}
.questions__block .question .active b {
  font-size: 16px;
}
.questions__block .question:last-child {
  border-bottom: 1px solid gray;
}

.application {
  padding: 0 150px 60px;
  position: relative;
  widows: 100%;
  height: 100vh;
  position: relative;
  background-image: url("./images/header-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.application__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  font-size: 27px;
  font-weight: 200;
  position: relative;
  z-index: 1;
}
.application__form {
  width: inherit;
  height: auto;
  position: relative;
  z-index: 1;
}
.application__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.application__form form input {
  width: 300px;
  height: 40px;
  outline: none;
  border-radius: 10px;
  padding: 0 7px;
  font-size: 16px;
  color: rgb(0, 38, 255);
}
.application__form form select {
  width: 200px;
  height: 30px;
  outline: none;
  border-radius: 10px;
}
.application__form form label {
  font-size: 20px;
  color: rgb(251, 255, 3);
}
.application__form form button {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: aqua;
}

.application::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 100px 10px;
  background-color: rgb(0, 0, 0);
}
.footer__list {
  display: flex;
  gap: 20px;
}
@media (max-width: 600px) {
  .footer__list {
    flex-wrap: wrap;
  }
}
.footer__list li a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  gap: 5px;
}
.footer__text {
  color: white;
}/*# sourceMappingURL=index.css.map */