* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p, ol, ul, dl {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.whatsapp {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;

  img {
    width: 60px;
    height: 60px;
    
  }
}

.header {
  position: relative;
  widows: 100%;
  height: 100vh;
  background-image: url('./images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 150px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 600px) {
    padding: 60px 50px;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: 50px;
    font-weight: 500;

    @media (max-width: 600px) {
      font-size: 35px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    list-style-type:circle;
    font-size: 22px;
    gap: 15px;
  }

  &__btn {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 15px;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }

    button {
      width: 270px;
      height: 55px;
      font-size: 18px;
      font-weight: 100;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: inherit;
      border: 2px solid white;
      color: #D8D9DA;

      @media (max-width: 600px) {
        width: 200px;
        height: 45px;
        font-size: 16px;
      }
    }

    button:hover {
      background-color: #b59e83;
      color: black;
    }

  }
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Здесь можно изменить уровень затемнения, уменьшив или увеличив значение alpha (0.5 - средний уровень) */
}


.catalog {
  padding: 0 150px 60px;
  position: relative;

  @media (max-width: 600px) {
    padding: 50px;
  }

  .line {
    width: 75%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 27px;
    font-weight: 200;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    .block {
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 20px;


      &__child {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__img {
        width: inherit;
        height: 300px;
      }

      &__btn {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 200px;
          height: 40px;
          background-color: inherit;
          outline: none;
          border: none;
          border-radius: 10px;
          border: 1px solid gray;
        }

        button:hover {
          background-color: #e6bc8d;
        }
      }
    }
  }
}

.process {
  padding: 60px 150px;
  position: relative;

  @media (max-width: 600px) {
    padding: 20px;
  }

  .line {
    width: 75%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 22px;
    font-weight: 200;

    @media (max-width: 600px) {
      padding: 0;
    }

  }

  &__block {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      li {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        b {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
        }

        p {
          font-style: italic;
        }
      }
    }
}

.advantage {
  padding: 60px 150px 60px;
  position: relative;

  @media (max-width: 600px) {
    padding: 10px 50px;
  }

  .line {
    width: 75%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 27px;
    font-weight: 200;
  }

  &__child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;

    img {
      width: 90px;
      height: 90px;
    }
  }

  &__block {
    display: flex;
    gap: 60px;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.images {
  padding: 0 150px 100px;
  position: relative;

  @media (max-width: 600px) {
    padding: 50px 0;
  }

  .line {
    width: 75%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 27px;
    font-weight: 200;

    @media (max-width: 600px) {
      font-size: 24px;
    }
  }

  .carousel {
    position: relative;
  
    .carousel-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 70%;
        height: 500px;
        border: 1px solid black;
      }

      @media (max-width: 600px) {
        height: 250px;
      }
    }
    
    .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
      border: none;
      cursor: pointer;
      outline: none;

      img {
        width: 35px;
        height: 35px;
      }

      @media (max-width: 600px) {
        width: 20px;
        height: 20px;
      }
    }
    
    #prevBtn {
      left: 40px;

      @media (max-width: 600px) {
        left: 20px;
      }
    }
    
    #nextBtn {
      right: 40px;

      @media (max-width: 600px) {
        right: 20px;
      }
    }
  }
}

.questions {
  padding: 0 150px 60px;
  position: relative;

  @media (max-width: 600px) {
    padding: 0 10px;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 27px;
    font-weight: 200;
  }

  &__block {

    .question {
      border-top: 1px solid gray;
      padding: 20px 0;

      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .plus {
          width: 40px;
          height: 40px;
        }

        .plus:hover {
          background-color: aqua;
          border-radius: 50%;
        }

        .minus {
          width: 20px;
          height: 20px;
          display: none;
        }

        .minus:hover {
          background-color: aqua;
          border-radius: 50%;
        }
      }

      .active {
        display: none;

        b {
          font-size: 16px;
        }

      }
    }

    .question:last-child {
      border-bottom: 1px solid gray;
    }
  }

}


.application {
  padding: 0 150px 60px;
  position: relative;
  widows: 100%;
  height: 100vh;
  position: relative;
  background-image: url('https://st26.stpulscen.ru/images/product/234/950/543_big.jpgа');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;


  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-size: 27px;
    font-weight: 200;
    position: relative;
    z-index: 1;
  }

  &__form {
    width: inherit;
    height: auto;
    position: relative;
    z-index: 1;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      input {
        width: 300px;
        height: 40px;
        outline: none;
        padding: 0 7px;
        font-size: 16px;
        color: rgb(0, 38, 255);
      }

      select {
        width: 200px;
        height: 30px;
        outline: none;
      }

      label {
        font-size: 20px;
        color:rgb(251, 255, 3);
      }

      button {
        width: 300px;
        height: 40px;
        border: none;
        background-color: inherit;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-size: 20px;
      }

      button:hover {
        background-color: #e6bc8d;
      }
    }
  }


}

.application::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/bg.webp');

  &__title {
    color: black;
  }
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 100px 10px;
  background-color: rgb(0, 0, 0);

  &__list {
    display: flex;
    gap: 20px;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }
    
    li {
      a {
        color: white;
        font-size: 16px;
        font-weight: 500;
        }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
    gap: 5px;
  }

  &__text {
    color: white;
  }
}

